@import 'daisyui/dist/full.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-end {
    display: none;
  }
  
p { 
  text-indent: 30px;
}
  /* Show the drop down menu icon when the screen size is 600px or smaller */
  @media (max-width: 970px) {
    .navbar-end {
      display: flex;
    }

     .nav-list {
      display: none;  
    }
  }


 /* Style the default dots */
 .slick-slider .slick-dots li button:before {
  color: #3182ce; /* Blue color */
  margin-top: 20px;
}

/* Style the active dot */
.slick-slider .slick-dots li.slick-active button:before {
  color: #0a04c4; /* Darker shade of blue for active dot */
  margin-top: 20px;
}